footer {
    background-color: var(--main-primary-color);
    clear: both;
      position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;   
}

footer .container-alura{
    color: #0f0e19;
    padding: 1rem 0;
}

.circle{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: grid;
    place-items: center;
    margin: 1px 5px;
}
.circle:hover{
    border: 1px solid var(--main-secondary-color);

}

.como-chegar{
    width: 80%;
}
.footer-bottom
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bottom::before
{
    display: block;
    content: '';
    margin: 15px 50px 0;
    width: 100%;
    height: 1px;
    background-color: var(--main-secondary-color);
}
.enderecos{
    margin-left: auto;
}
.footer-bottom2
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:8px;
}
.gps-box{
    width: 100px;
    height: 100px;
    border: solid 1px #0f0e19;
}
.social{
    margin-top: 10px;
}
.instagram-img{
    background: url(./../public/images/instagram.svg) no-repeat center;
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
}
.ytb-img{
    background: url(./../public/images/youtube.svg) no-repeat center;
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
}
.fb-img{
    background: url(./../public/images/facebook.svg) no-repeat center;
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
}
.mapouter
{
    border: 1px solid black;
    margin: 2rem;
}
@media (max-width: 639px){
    
}