/* 
css relativo ao post do loop do wp
*/

section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.post-background{
    width: 800px;
    height: 800px;
    display: grid;
    place-items: center;
    background-image: url('../public/images/city-night.jpg');
    border: 5px solid rgba(0, 0, 0, 0.8) ;
    overflow: auto;
    margin-top: 30px;

}

.post{
    max-height: 700px;
    min-height: 600px;
    width: 400px;
    background-color: #ece9d8;
    position: relative;
    margin-bottom: 15px;
}

.post-head{
  font-family: Trebuchet MS;
  background: linear-gradient(180deg,#0997ff,#0053ee 8%,#0050ee 40%,#06f 88%,#06f 93%,#005bff 95%,#003dd7 96%,#003dd7);
  padding: 3px 5px 3px 3px;
  border-top: 1px solid #0831d9;
  border-left: 1px solid #0831d9;
  border-right: 1px solid #001ea0;
  border-top-left-radius: 8px;
  border-top-right-radius: 7px;
  font-size: 13px;
  text-shadow: 1px 1px #0f1089;
  height: 21px;
  display: flex;
  
}

.post-head-title{
  font-weight: 700;
  color: #fff;
  letter-spacing: 0;
  margin-right: 24px;
  text-transform: uppercase;
  text-shadow: 1px 1px #0f1089;
  padding-top: 4px;
  padding: 4px;

}

.post-head-button-group{
    margin-left: auto;
}
.post-body{
    border: 1px solid rgba(0, 0, 0, 0.8) ;
    max-height: 679px;
    min-height: 579px;

}
.post-body h1{
    padding: 5px;
}

.image-post{
    width: calc(100% - 40px);
    margin-left: 20px;
}
.content{
    padding: 10px;
    margin: 0 10px;
    background-color: white;
}

.post-body a{
    text-decoration: none;
}
.post-flags {
    position: absolute;
    bottom: 0; /* Coloca o rodapé no final do post */
    left: 0;
    border-top: 1px solid #ccc; /* Borda superior */
}

